* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #ffffff, #dcdcdc);
}

.app-wrapper {
  width: 100%;
}

.page-content {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
}
